{% extends 'base.html.twig' %}

{% block title %} Issues {% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/list.css') }}" />

{% endblock %}


{% block body %}

    <h1>Issues</h1>

    <ul type="none">
        {% for issue in issue %}

            <br><br><li><a href="{{ path ('issue_show', {
            'id': issue.id
        }) }}">{{ issue.name }}</a>

        </li>
        {% endfor %}
    </ul>

    <br><br>


{% endblock %}